form {
	max-width: 400px;
	min-width: 300px;
	width: 100%;
	margin: 20px auto;
}

fieldset {
	margin: 20px 0px;
}

.error {
	color:red;
	font-size: .9em;
}

.panel-heading h1 {
	text-align: center;
}

header {
	background-color: #29A6AB;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	margin-bottom: 40px;
}

.logo-wrap {
	display: inline-block;
}

#logo {
	width: 100px;
	height: auto;
	margin: 5px 0px;
}

nav {
	display: inline-block;
	float:right;
	margin: 0;
	margin: 40px 30px;

}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;

}

nav ul li a {
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	margin: 2px;
}

nav ul li a:hover {
	background-color: white;
	text-decoration: none;
	color: #29A6AB;
	
}

nav ul li a.current {
	
	border: 1px solid white;
}

.panel {
	margin-top: 50px;
}

footer {
	text-align:center;
}



th, td {
	padding: 5px 10px;
}

td {
	border: 1px solid rgba(100,100,100,0.1);
}

td.pending {
	background-color: yellow;
}

td.delivered {
	background-color: green;
	color: white;
}

td.cancelled {
	background-color: red;
	color: white;
}